body {
	padding-bottom: 0.5em;
}
.container {
	text-align: center;
}

.linkIcon {
	width: 4.5em;
	height: 4.5em;
	cursor: pointer;
	border-radius: 0.25em;
	padding: 0.25em;
}
.linkIcon:hover {
	border: 0.1em solid #BBB;
}

.linkContainer {
	margin-top: 0.5em;
}

#pageTitle {
	font-family: "Indie Flower", cursive;
	font-size: 1.75em;
	font-weight: bold;
	margin: 0.25;
	padding-left: 0.75em;
	padding-top: 0.25em;
}

.row {
	width: 20em;
}

#title_break {
	width: 90%;
	margin-top: 0;
	margin-bottom: 1em;
}


.linkIcon {
	width: 4.5em;
	height: 4.5em;
	cursor: pointer;
	/*border-radius: 0.25em;*/
	padding: 0.25em;
	text-decoration: underline;
}
.linkIcon:hover {
	text-decoration: none;
}

#search_form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#categories_header {
	font-size: 1.5em;
    width: 5em;
    padding: 0;
    margin: 0.5em auto 0.25em auto;
    font-family: "Indie FLower", cursive;
    font-style: italic;
    font-weight: bold;
}
#categories_hr {
    width: 90%;
    margin: 0.5em auto;
}

#search-row {
	margin-top: 1em;
}

#randomQuizButton {
	color: white;
}
#randomQuizButton:hover {
	text-decoration: underline;
}